* {
  margin: 0px;
  padding: 0px;
}
body {  
  background-color: #ADE8BB;
}
.header-main {
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
} 

.header-logo {
  width: fit-content;
  height: 100%;
  padding-left: 60px;
  line-height: 80px;
  display: flex;
} 
.header-logo img {
  align-self: center;
  height: 40px; 
}
.header-top{
  font-family: 'Leckerli One', cursive;
  line-height: 80px;
  text-transform: uppercase;
}
/* My nav */
.header-nav {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  
}
.header-nav ul {
  list-style: none;
}
.header-nav ul li {
  float: left;
  display: inline;
}
.header-nav ul li a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: white;
  line-height: 80px;
  padding: 0 10px;
  display: block;
  height: 80px;

}
.header-nav ul li a:hover {
  color: #ADE8BB;
}
.look {
  background-color: darkgray;
}
/* Content of the website */
.first-section {
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center
}
.banner-welcome {
  font-family: 'Leckerli One', cursive;
  font-size: 30px;
  color: white;
}
/* Form */
.form {
  width: 550px;
  height: 600px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  margin-left: 500px;
  justify-content: space-between;
}
legend {
  font-family:'Leckerli One', cursive;
  font-size: 30px;
}
.form-message {
  font-family:'Leckerli One', cursive;
  margin-left: 350px;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.radio-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  height: 50px;
}

.first-choice {
  margin-left: 40px;
  margin-right: 40px;
}

.second-choice {
  margin-right: 40px;
  margin-left: 40px;
}

.third-choice {
  margin-right: 40px;
  margin-left: 40px;
}

.label1 {
  font-size: 30px;
  margin-left: 30px;
  font-family:'Leckerli One', cursive;
}

.label2, .label3, .label4 {
  font-size: 15px;
}
input[type="text"]select textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid;
  border-color: black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
textarea{
  height: 10em;
}
::placeholder {
  height: 40px;
 }
input[type="submit"] {
  background-color: darkgrey;
  color: white;
  padding: 30px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #ADE8BB;
}

/* Footer */
.footer-main {
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
} 

.footer-logo {
  width: fit-content;
  height: 100%;
  padding-left: 60px;
  line-height: 80px;
  display: flex;
} 
.footer-logo img {
  align-self: center;
  height: 40px; 
}
.footer-bottom{
  font-family: 'Inter', sans-serif;
  line-height:  80px;
  font-size:  0.625em;
  padding-right: 60px;
  letter-spacing: 0.0625em;

}
/* My nav */
.footer-nav {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
 
  
}
.footer-nav ul {
  list-style: none;
}
.footer-nav ul li {
  float: left;
  display: inline;
}
.footer-nav ul li a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size:  0.625em;
  color: white;
  line-height: 80px;
  padding: 0 10px;
  display: block;
  height: 80px;
}
.footer-nav ul li a:hover {
  color: #ADE8BB;
}