/* Header of my website */
* {
    margin: 0px;
    padding: 0px;
}
body {  
    background-color: #ADE8BB;
}
.header-main {
    position: fixed;
    top: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
} 
  
.header-logo {
    width: fit-content;
    height: 100%;
    padding-left: 60px;
    line-height: 80px;
    display: flex;
} 
.header-logo img {
    align-self: center;
    height: 40px; 
}
.header-top{
    font-family: 'Leckerli One', cursive;
    line-height: 80px;
    text-transform: uppercase;
}
  /* My nav */
.header-nav {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    
}
.header-nav ul {
    list-style: none;
}
.header-nav ul li {
    float: left;
    display: inline;
}
.header-nav ul li a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: white;
    line-height: 80px;
    padding: 0 10px;
    display: block;
    height: 80px;
  
}
.header-nav ul li a:hover {
    color: #ADE8BB;
}
.look {
  background-color: darkgray;
}
/* Content of the website */
.first-section {
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center
}
.banner-welcome {
  font-family: 'Leckerli One', cursive;
  font-size: 30px;
  color: white;
}
.second-section {
  display: flex;
  width: 100%;
  height: 600px;
  font-family: 'Inter', sans-serif;
  word-spacing:  normal;
  text-indent: 1.25em;
}
.alink:hover{
  color: blue;
}
.blink:hover{
  color: violet;
}
.second-section h2	{
  font-family: 'Leckerli One', cursive;
  text-indent: 0em;
  padding-bottom: 10px;
}
.paragraphs {
  display: flex;
  flex-direction: column;
  padding-left: 120px;

}
.A1 {
  padding: 20px;
  border-bottom: black 2px solid;
}
.A2 {
  padding: 20px;
  border-bottom: black 2px solid;
}
figure {
 
  width: 50%;
  height: 500px;
 
}
aside {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 500px;
  align-items: center;
  flex-direction: column;
  margin-left: 250px;
}

.Langs {
  width: 450px;
  height:auto;
}
.geds {
    width: 450px;
    height:auto;
}
figure aside p {
  padding: 20px;
  font-weight: bold;
}
/* Footer */
.footer-main {
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
} 

.footer-logo {
  width: fit-content;
  height: 100%;
  padding-left: 60px;
  line-height: 80px;
  display: flex;
} 
.footer-logo img {
  align-self: center;
  height: 40px; 
}
.footer-bottom{
  font-family: 'Inter', sans-serif;
  line-height:  80px;
  font-size:  0.625em;
  padding-right: 60px;
  letter-spacing: 0.0625em;

}
/* My nav */
.footer-nav {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
 
  
}
.footer-nav ul {
  list-style: none;
}
.footer-nav ul li {
  float: left;
  display: inline;
}
.footer-nav ul li a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size:  0.625em;
  color: white;
  line-height: 80px;
  padding: 0 10px;
  display: block;
  height: 80px;



}
.footer-nav ul li a:hover {
  color: #ADE8BB;
}