* {
  margin: 0px;
  padding: 0px;
}
body {  
  background-color: #ADE8BB;
}
.header-main {
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
} 

.header-logo {
  width: fit-content;
  height: 100%;
  padding-left: 60px;
  line-height: 80px;
  display: flex;
} 
.header-logo img {
  align-self: center;
  height: 40px; 
}
.header-top{
  font-family: 'Leckerli One', cursive;
  line-height: 80px;
}
/* My nav */
.header-nav {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  
}
.header-nav ul {
  list-style: none;
}
.header-nav ul li {
  float: left;
  display: inline;
}
.header-nav ul li a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: white;
  line-height: 80px;
  padding: 0 10px;
  display: block;
  height: 80px;

}
.header-nav ul li a:hover {
  color: #ADE8BB;
}
/* Content of the website */
.first-section {
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center
}
.banner-welcome {
  font-family: 'Leckerli One', cursive;
  font-size: 30px;
  color: white;
}
.form {
  width: 600px;
  height: 850px;
  background-color: rgb(230, 82, 28);
  border-radius: 20px;
  margin-top: 160px;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  font-family: "Trirong", serif;
}

.radiobutton {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  height: 70px;
}

.label1 {
  font-size: 30px;
  margin-left: 30px;
}

.label2 {
  font-size: 20px;
}

.label3 {
  font-size: 20px;
}

.label4 {
  font-size: 20px;
}

.choice1 {
  margin-left: 50px;
  margin-right: 50px;
}

.choice2 {
  margin-right: 50px;
  margin-left: 50px;
}

.choice3 {
  margin-right: 50px;
  margin-left: 50px;
}

/Third-section/
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #959592;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

label {
  font-size: 20px;
}

/* Footer */
.footer-main {
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
} 

.footer-logo {
  width: fit-content;
  height: 100%;
  padding-left: 60px;
  line-height: 80px;
  display: flex;
} 
.footer-logo img {
  align-self: center;
  height: 40px; 
}
.footer-bottom{
  font-family: 'Inter', sans-serif;
  line-height:  80px;
  font-size:  0.625em;
  padding-right: 60px;
  letter-spacing: 0.0625em;

}
/* My nav */
.footer-nav {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
 
  
}
.footer-nav ul {
  list-style: none;
}
.footer-nav ul li {
  float: left;
  display: inline;
}
.footer-nav ul li a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size:  0.625em;
  color: white;
  line-height: 80px;
  padding: 0 10px;
  display: block;
  height: 80px;



}
.footer-nav ul li a:hover {
  color: #ADE8BB;
}